
<div class="form-group">
  <form id="form_id" action="/book/new" method="post">
    <label for="book_title">Enter a book title</label>
    <input required type="text" id="book_title" name="book_title" class="form-control">
    <button type='submit' id="add_new_book" class="btn btn-primary">Submit Book</button>
  </form>
</div>

<% unless @new_book == nil %>
<h4><%= @new_book %> has been added.</h4>
<% end %>
