<h3><%= @author %></h3>

<br>
<br>
<div class="form-group">
  <form id="form_id" action="index.html" method="post">
    <label for="add_book_to_author">Add a book to this author's list</label>
    <input type="text" name="add_book_to_author" id="add_book_to_author" class="form-control">
    <br>
    <button name="add_book_to_author" class="btn btn-primary">Add Book</button>
  </form>
</div>
