<h1>Authors</h1>

<ul>
  <% if @authors.length() > 0 %>
    <% @authors.each() do |person| %>
      <li><a href="/author/<%= person.id() %>"><%= person.name() %></a></li>
    <% end %>
  <% end %>
</ul>
