<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Library</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div id="navbar">
    <form action="/login" method="get">
      <button class="btn btn-primary" type="submit" id="login">Login</button>
    </form>
    <form action="/books" method="get">
      <button class="btn btn-primary" type="submit" id="books">Books</button>
    </form>
    <form action="/authors" method="get">
      <button class="btn btn-primary" type="submit" id="books">Authors</button>
    </form>
    <form action="/add/author" method="get">
      <button class="btn btn-primary" type="submit" id="add_author">Add an Author</button>
    </form>
    <form action="/add/book" method="get">
      <button class="btn btn-primary" type="submit" id="add_books">Add a Book</button>
    </form>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
