#navbar {
  display: inline;
  /*float: center;*/
  /*margin-left: auto;
  margin-right: auto;*/
  /*width: 70%;*/
}

#navbar-div {
  float: left;
  display: block;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
